* {
    font-family: 'lora', serif;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    outline: none;
    background: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100%;
}

#container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#navbar {
    margin: 0.9rem 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbutton a {
    font-size: 1.2rem;
    color: #000000;
    padding: 1rem 1rem;
}

.navbutton a:hover {
    background-color: rgb(228, 228, 228);
    color: #48361c;
    font-weight: 600;
    transition: background-color 0.5s ease;
}

#navbar img {
    height: 1.8rem;
    vertical-align: middle;
    margin-left: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px; /* Add padding to ensure separation from the navbar */
}

#logo {
    text-align: center;
    padding: 1.25rem; /* 20px to rem */
}

#search{
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

#sbar input[type="text"] {
    padding: 10px;
    border-radius: 40px;
    border: 2px solid rgb(60, 60, 60);
    width: 600px;
}

@media (max-width: 768px) {

    #sbar input[type="text"] {
        width: 350px; /* Reduce width by half */
    }

    #logo img{
        width: 70%;
        height: 70%;
    }
    
    #Footer a {
        color: rgb(60, 60, 60);
        text-decoration: none;
        margin: 0 5px; /* Adjust margin for spacing between links */
    }
    
    #ftr {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    #centerLinks {
       flex-grow: 1; 
        text-align: center;
        position: relative;
        padding-top: 50px;
    }
    
    #centerLinks a {
        padding-top: 10px;
    }

    #socialIcons img{
        height: 25px;
        width: 25px; 
    }
}

@media (max-width: 450px) {
    #sbar input[type="text"] {
        width: 220px; /* Reduce width by half */
    }

    #logo img{
        min-width: 60%;
        min-height: 60%;
    }

    .navbutton a{
        font-size: 0.8rem;
    }
}

#sbar input[type="submit"] {
    padding: 5px;
    border-radius: 360px;
    border: 1px solid #ccc;
}

#buttons{
    display: flex;
    flex-direction: row;
}

#sbar .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
}

#sbar .search-icon:hover {
    background-color: #95CB77;
    transition: background-color 0.5s ease;
    color: #5C4E3A
}

#sbar button {
    background-color: #ccc;
    color:  #333;
    border: none;
    padding: 5px;
    margin: 3px;
    border-radius: 30px;
    width: 6rem;
    height: 2rem;
}

#sbar #tab1{
    background-color: #95CB77;
    font-weight: 600;
}

#sbar #tab1:hover{
    background-color: #95CB77;
    font-weight: 600;
    transition: background-color 1s ease;
}

#sbar #tab2:hover {
    background-color:#67BFFF;
    font-weight: 600;
    transition: background-color 1s ease;
}

#s {
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid rgb(60, 60, 60);
    margin-right: 2px; /* Add spacing between input field and icon */
}

#Footer {
    background-color: rgb(217, 217, 217);
    text-align: center;
    padding: 1.25rem;
    position: relative; /* Set position relative */
    margin-top: auto;
}

#Footer a {
    color: rgb(60, 60, 60);
    text-decoration: none;
    margin: 0 5px; /* Adjust margin for spacing between links */
}

#ftr {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
}

#centerLinks {
    flex-grow: 1;
    text-align: center;
    position: relative;
}

#centerLinks a {
    padding: 5px;
}

#socialIcons {
    position: absolute;
    margin: 1%; 
}

#centerLinks a:hover {
    color: #48361c;
    font-weight: 600;
}

#searchContent {
    display: grid;
    grid-template-areas: 
        "filterbox searchbar searchbar searchbar"
        "filterbox content content buttonslist"
        "filterbox content content buttonslist"
        "filterbox content content buttonslist";
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.filterbox {
    grid-area: filterbox;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 180px;
    min-width: 180px;
}

.filterbox h3{
    font-size: 0.8rem;
}

.filterbox label{
    font-size: 0.8rem;
}

.filtercontent{
    border: solid 1px;
    padding: 10px;
    border-radius: 10px;
}

.filtercontent input{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expand-icon{
    border: none;
    height: 40px;
    width: 40px;
}

.expand-icon :hover{
    background-color: #dedede;
    transition: background-color 1s ease;
}

.expanded {
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.searchbar {
    grid-area: searchbar;
    display: flex;
    gap: 10px;
    padding-left: 10px;
}

.searchbar .sTab{
    padding: 10px;
    border-radius: 40px;
    border: 2px solid rgb(60, 60, 60);
    height: 40px;
}

.searchbar #stab2{
    background-color: #95CB77;
}


.searchbar #stab2:hover{
    background-color: #95CB77;
    font-weight: 600;
    transition: background-color 1s ease;
}

.searchbar #stab3:hover{
    background-color:#67BFFF;
    font-weight: 600;
    transition: background-color 1s ease;
}

.searchbar .search-icon{
    width: 40px;
    height: 40px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
}

.searchbar .search-icon:hover{
    background-color:#95CB77;
    font-weight: 600;
    transition: background-color 1s ease;
}

.searchbar input{
    padding: 10px;
    border-radius: 40px;
    border: 2px solid rgb(60, 60, 60);
    width: 500px;
}

@media (max-width: 768px) {
    .searchbar input{
        width: 250px;
        font-size: 0.8rem;
    }

    .searchbar .sTab{
        font-size: 0.8rem;
        max-width: 80px;
    }

    .searchbar {
        display: flex;
        gap: 5px;
        padding-left: 10px;
    }
}

@media (max-width: 480px) {
    .searchbar input{
        width: 150px;
        font-size: 0.8rem;
    }

    .searchbar .sTab{
        font-size: 0.6rem;
        max-width: 60px;
    }

    .searchbar {
        display: flex;
        gap: 5px;
        padding-left: 10px;
    }
}

.content {
    grid-area: content;
}

.article {
    padding: 10px;
    margin-bottom: 10px;
}

.article h2 {
    font-size: 1.5em;
    color: #5271FF
}

.article p {
    margin: 10px 0;
    color: #555;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article .authors {
    font-style: italic;
    color: #42573F;
    font-weight: 500;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article .publication {
    font-weight: bold;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}


.buttongroup{
    grid-area: buttonslist;
    display: flex;
    flex-direction:column;
    gap: 13rem;
    margin-top: 6rem;
}

.buttonslist {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    gap: 0.5rem;
}

.buttonslist button{
    width: 150px;
    text-align: left;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonslist button:hover{
    background-color: #eeeeee;
    transition: background-color 1s ease;
    font-weight: 600;
    color: #48361c;
}

.button-icon{
    width: 1.2rem;
    height: 1.2rem;
}

#all{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#texts{
    padding: 20px 40px;
}

#texts h1{
    margin-bottom: 20px;
    font-weight: 600;
}

#texts h2{
    margin-bottom: 20px;
    font-weight: 600;
}

#texts p{
    margin-bottom: 20px;
}

#texts li{
    margin-bottom: 10px;
    margin-left: 20px;
}

#texts ul{
    margin-bottom: 20px;
}
