* {
    font-family: 'lora', serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background-color: #fff;
    outline: none;
    background: none;
    text-decoration: none;
}

#navbar {
    margin: 0.9rem 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbutton a {
    font-size: 1.2rem;
    color: #000000;
    padding: 1rem 1rem;
}

.navbutton a:hover {
    background-color: rgb(228, 228, 228);
    color: #48361c;
    font-weight: 600;
    transition: background-color 0.5s ease;
}

#navbar img {
    height: 1.8rem;
    vertical-align: middle;
    margin-left: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px; /* Add padding to ensure separation from the navbar */
}

#logo {
    text-align: center;
    padding: 1.25rem; /* 20px to rem */
}

#search{
    display: flex;
    flex-direction: row;
    margin: 5px;
    align-items: center;
}

#sbar input[type="text"] {
    padding: 10px;
    border-radius: 40px;
    border: 2px solid rgb(60, 60, 60);
    width: 600px; /* Change width to 100% */
}

#sbar input[type="submit"] {
    padding: 5px;
    border-radius: 360px;
    border: 1px solid #ccc;
}

#buttons{
    display: flex;
    flex-direction: row;
}

#sbar .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 50%;
    background-color: rgb(207, 207, 207);
}

#sbar .search-icon:hover {
    background-color: #95CB77;
    transition: background-color 0.5s ease;
    color: #5C4E3A
}

#sbar button {
    background-color: #ccc;
    color:  #333;
    border: none;
    padding: 5px;
    margin: 3px;
    border-radius: 30px;
    width: 6rem;
    height: 2rem;
}

#sbar #tab1{
    background-color: #95CB77;
    margin-left: 0.4rem;
}

#sbar #tab1:hover{
    background-color: #95CB77;
    font-weight: 600;
    transition: background-color 1s ease;
}

#sbar #tab2:hover {
    background-color:#67BFFF;
    font-weight: 600;
    transition: background-color 1s ease;
}

#s {
    flex: 1;
    padding: 10px;
    border-radius: 40px;
    border: 2px solid rgb(60, 60, 60);
    margin-right: 2px; /* Add spacing between input field and icon */
}

#Footer {
    background-color: rgb(217, 217, 217);
    text-align: center;
    padding: 1.25rem; /* 20px to rem */
    position: fixed;
    bottom: 0;
    width: 100%;
}

#Footer a {
    color: rgb(60, 60, 60);
    text-decoration: none;
    margin: 0 0.625rem; /* 10px to rem */
}

#ftr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-right: 12%;
}

#centerLinks {
    flex-grow: 1;
    text-align: center;
}

#socialIcons {
    align-self: flex-start;
}

#centerLinks a:hover {
    color: #48361c;
    font-weight: 600;
}
